main {
  margin: 30px;
}

.items {

  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.item {
  cursor: pointer;
  flex: 1 1 auto;
}

.item--active {
  font-weight: bold;
  text-decoration: underline;
}